[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/xtensor"]
	path = external/xtensor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "external/xtl"]
	path = external/xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "external/xsimd"]
	path = external/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
[submodule "external/popl"]
	path = external/popl
	url = https://github.com/badaix/popl.git
[submodule "external/plog"]
	path = external/plog
	url = https://github.com/SergiusTheBest/plog.git
